.EditPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  justify-content: center;
  margin: 2vmin auto;
}

.EditPanel .TestSets {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .25em;
  justify-content: center;
}

.EditPanel .TestSet {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: .25em;
  justify-content: center;
}

.EditPanel .TestCase {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: .5em;
}

.EditPanel .TestCase.correct {
  background-color: #ccffcc;
}

.EditPanel .TestCase.error {
  background-color: #ffcccc;
}