.IntroPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  justify-content: center;
  margin: 2vmin auto;
}

.IntroPanel .Text {
  font-size: 250%;
  max-width: 70vw;
  white-space: pre-wrap;
}

.IntroPanel .Controls button {
  font-size: 300%;
  padding: .1em .4em;
}
