.LoadPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  justify-content: center;
  margin: 2vmin auto;
}

.LoadPanel .DataField.correct {
  background-color: #ccffcc;
}

.LoadPanel .DataField.error {
  background-color: #ffcccc;
}