.TestPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  justify-content: center;
  margin: 2vmin auto;
}

.TestPanel .Controls button {
  font-size: 300%;
  padding: .1em .4em;
}

.TestPanel .Stats summary {
  padding-bottom: .5em;
}

.TestPanel .StatsTable, .StatsTable td, .StatsTable th {
  border-collapse: collapse;
}

.TestPanel .StatsTable td, .StatsTable th {
  border: 1px solid black;
  padding: 0 .5em;
  text-align: center;
}